body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: -o-linear-gradient(to bottom, #ff4d6d, #ffb3c1);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0,0.3);
}
h1{
    font-size: 24px;
    color: #e6003f; 
}
p {
    color: rgb(184, 24, 66);
}
input{
    width: 150px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}
button{
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: #ff1e56;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: #e6003f;
}
.link-box{
    margin-top: 20px;
    display: none;
}
#valLink {
    margin-top: 10px;
    font-size: 14px;
}
@media (max-width: 480px) {
  .container {
    padding: 20px;
    border-radius: 16px;
  }

  h1 {
    font-size: 22px;
  }

  p {
    font-size: 14px; 
  }

  input,
  button {
    font-size: 15px;
    padding: 12px;
  }
}
@media (min-width: 481px) and (max-width: 900px) {
  .container {
    max-width: 550px;
  }

  h1 {
    font-size: 28px;
  }

  p {
    font-size: 17px;
  }
}

