body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ff1e56, #ffb3c1);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
}

.val-container {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 28px;
}

.btns {
  margin-top: 30px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px;
}

#yesBtn {
  background: #00c853;
  color: white;
}

#noBtn {
  background: #ff1744;
  color: white;
  position: absolute;
}

#result {
  margin-top: 40px;
  font-size: 22px;
  font-weight: bold;

}
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  button {
    font-size: 16px;
    padding: 12px 20px;
  }

  #result {
    font-size: 18px;
  }
}
@media (min-width: 481px) and (max-width: 900px) {
  h1 {
    font-size: 28px;
  }

  button {
    font-size: 17px;
    padding: 14px 24px;
  }
}
